body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas{
    display: block;
    margin: auto;
    border: solid 5px #000;
    border-radius: 10px;
}