
@font-face{
    font-family: 'upheavtt';
    src: url(../font/upheavtt.ttf);
}

dialog::backdrop{
    background-color: #00000083;
}

#modalErro{
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    gap: 5%;
    border: none;
    border-radius: 10px;
}

#modalErro .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#modalErro p{
    font-family: 'upheavtt';
    font-size: 28px;
    text-align: center;
    color: #EB3100;
}

#modalErro img{
    width: 65%;
    height: 65%;
}