body{
    background-color: #0C1314;
}

@font-face{
    font-family: 'upheavtt';
    src: url(../font/upheavtt.ttf);
}

.personagens{
    width: 100%;    
}

.personagens .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #fff;
    font-size: 21px;
}

.card_personagem{
    height: 225px;
    width: 150px;
    transition: 0.3s ease-in;
    color: #fff;
    cursor: pointer;
}

.card_personagem:hover{
    height: 240px;
    width: 165px;
   background-color: #fff;
   color: #0C1314;
}

img{
    height: 65%;
    width: 100%;
    background-size: cover;
}

.card_personagem p{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center; 
    text-align: center;  
    font-family: "upheavtt";
}

/* Personagem escolhido */

.escolhido{
    width: 100%;
    height: 350px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escolhido .container{
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.escolhido .container img{
    width: 30%;
    height: 100%;
}

.personagem_escolhido{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5%;
}

.personagem_escolhido p{
    font-family: "upheavtt";
    font-size: 80px;
    color: #fff;
}

.btn_iniciar{
    font-family: "upheavtt";
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 15%;
    background-color: #FF0000;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

